<form id="ResetPasswordForm" class="ResetPasswordForm" method="post" action="/personal_account/resetpassword">
    <div class="inputbox">
        <input id="Mail" name="Mail" type="text" placeholder="введите почту" readonly
            onfocus="this.removeAttribute('readonly');" required autocomplete="off">
        <label for="Mail" id="label"></label>
    </div>
    <div class="invalidmail"></div>
    <span class="text">
        <a class="text viewConnectForm" (click)="connectService.islogin = true">Войти </a>
    </span>
    <p-button label="запросить" type="ngSubmit" ></p-button>
</form>